/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Apr 29, 2022, 5:53:19 AM
    Author     : Vivi
*/
body {
    background-color: #d4c8b4;
    margin: 0;
}
h1 {
    font-size: 70px;
    color: #1f1b1b;
    font-family: trebuchet ms;
    letter-spacing: 10px;
    font-weight: bold;
}
h2 {
    font-size: 22px;
    color: #1f1b1b;
    letter-spacing: 2px;
    font-family: trebuchet ms;
    font-weight: bold;
}
h6 {
    font-size: 28px;
    color: #1f1b1b;
    letter-spacing: 2px;
    font-family: trebuchet ms;
    font-weight: bold;
    margin-bottom: 0;
}
h3 {
    font-size: 50px;
    color: #1f1b1b;
    font-family: trebuchet ms;
    letter-spacing: 10px;
    font-weight: bold;
    text-align: center;
}
h5 {
    margin-top: 0;
    font-size: 50px;
    color: #1f1b1b;
    font-family: trebuchet ms;
    letter-spacing: 10px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 1%;
}
.topnav {
    background-color: white;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #1f1b1b;
    text-align: center;
    padding: 26px 20px;
    font-family: trebuchet ms;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #1f1b1b;
    background-color: inherit;
    font-family: trebuchet ms;
    margin: 0;
    padding: 26px 20px;
}
.topnav a:hover, .dropdown:hover .dropbtn {
    color: #a89051;
}
.topnav a.active {
    color: #a89051;
}
.topnav-right {
    margin-right: 5%;
    float: right;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.about {
    margin-top: 8%;
    margin-left: 24%;
    margin-right: 24%;
}
.columnA{
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.aboutme {
    margin-top: 10%;
    margin-right: 5%;
}
.paragraph {
    color: #1f1b1b;
    font-family: trebuchet ms;
    font-size: 15px;
    line-height: 2;
}
ul {
    color: #1f1b1b;
    font-family: trebuchet ms;
    font-size: 15px;
    line-height: 2;
}
.links {
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 5%;
}
.columnB {
    float: left;
    width: 33%;
}
.container {
    margin-top: 40%;
    margin-bottom: 40%;
}
.btn {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 75px;
    outline: none;
    color: white;
    cursor: pointer;
    font-family: trebuchet ms;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: width 1s, height 1s, transform 1s;
}
#btn1 {
    transition-timing-function: ease;
}
#btn2 {
    transition-timing-function: ease;
}
#btn3 {
    transition-timing-function: ease;
}
.btn1{
    background: #947859;
}
.btn2{
    background: #b59e7f;
}
.btn3{
    background: #4a4137;
}
.btn:hover {
    color: #292624;
    background: #9e958b;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.columnC {
    float: left;
    width: 25%;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #1f1b1b;
    padding: 40px 40px;
    font-family: trebuchet ms;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
}
.download {
    border: none;
    border-radius: 12px;
    outline: none;
    background-color: #947859;
    color: white;
    padding: 20px 40px;
    cursor: pointer;
    font-family: trebuchet ms;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 1%;
}
.download:hover {
    color: #292624;
    background: #9e958b;
}
.centered {
    text-align: center;
}
.section {
    margin-left: 20%;
    margin-right: 20%;
}
p {
    color: #1f1b1b;
    font-family: trebuchet ms;
    font-size: 15px;
    line-height: 2;
    text-decoration: none;
}
.columnG {
    float: left;
    width: 33%;
}
.columnG2 {
    text-align: right;
}
.talk {
    border: none;
    border-radius: 12px;
    outline: none;
    color: white;
    padding: 20px 40px;
    cursor: pointer;
    font-family: trebuchet ms;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    width: 300px;
    margin: 10px;
}
.talk:hover {
    color: #292624;
    background: #f2e4b8;
}
.talk2 {
    background-color: #b0a37b;
}
.talk3 {
    background-color: #47370a;
}
.talk4 {
    background-color: #6b603f;
}
.columnZ {
    float: left;
    width: 33%;
}
.portfolio {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
.alightleft {
    margin-left:10%;
    float: left;
    text-decoration: none;
}
.alignright {
    margin-right:10%;
    float: right;
    text-align:right;
}
.skip {
    border: none;
    border-radius: 50%;
    outline: none;
    width: 75px;
    height: 75px;
    cursor: pointer;
    font-family: trebuchet ms;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin: 1%;
    transition: width 1s, height 1s, transform 1s;
}
#skip1 {
    transition-timing-function: ease;
}
#skip2 {
    transition-timing-function: ease;
}
#skip3 {
    transition-timing-function: ease;
}
#skip4 {
    transition-timing-function: ease;
}
.decoration {
    text-decoration: none;
    color: white;
}
.skip {
    text-decoration: none;
    color: white;
}
.skip1 {
    text-decoration: none;
    color: white;
    background-color: #291c19;
}
.skip2 {
    text-decoration: none;
    color: white;
    background-color: #8a6b65;
}
.skip3 {
    text-decoration: none;
    color: white;
    background-color: #3b1a1a;
}
.skip4 {
    text-decoration: none;
    color: white;
    background-color: #4d4845;
}
.skip:hover {
    color: #0d0404;
    background-color: #8a8080;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
#topbutton {
    bottom: 2%;
    right: 1%;
    position: fixed;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #66572c;
    color: #0d0c09;
    cursor: pointer;
    padding: 13px;
    font-size: 13px;
    font-family: trebuchet ms;
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: width 1s, height 1s, transform 1s;
}
#topbutton:hover {
    background-color:#2b2104;
    color: #ffffff;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
#topbutton1 {
    transition-timing-function: ease;
}
#downloadB {
    top: 10%;
    right: -1%;
    position: fixed;
    width: 200px;
    height: 30px;
    border-radius: 10%;
    border: none;
    outline: none;
    background-color: #999990;
    color: #0f0f08;
    cursor: pointer;
    font-size: 13px;
    font-family: trebuchet ms;
    font-weight: bolder;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: width 1s, height 1s, transform 1s;
}
#downloadB1 {
    transition-timing-function: ease;
}
#downloadB:hover {
    background-color:#1c180c;
    color: #ffffff;
    width: 300px;
    height: 35px;
    border-radius: 10%;
}
.columnX {
    float: left;
    width: 50%;
}
.shadow {
    box-shadow: 10px 10px;
}
.border1 {
    margin-left: 24%;
    margin-right: 24%;
}
.card {
    background-color: #ebe6d8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container1 {
    padding: 0 16px;
}
.container1::after {
    content: "";
    clear: both;
    display: table;
}
.title {
    color: grey;
}
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #edeae4;
    background-color: #2f2e30;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.button:hover {
    background-color: #ada69a;
    color: #0f090f;
}
.mag {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
@media screen and (max-width:600px) {
    .columnA {
        width:100%;
    }
    #me {
        height: 98%;
        width: 98%;
    }
    .about {
        margin: 5%;
    }
    .links {
        margin: 0%;
    }
    .aboutme {
        margin: 0%;
    }
    .portfolio {
        margin: 1%;
    }
    .columnZ {
        width:100%;
    }
    .columnG {
        width:100%;
    }
    .columnC {
        width:100%;
    }
    .section {
        margin: 5%;
    }
}
@media screen and (max-width: 600px) {
    .mag {
        width: 100%;
        display: block;
    }
}
.kip {
    border: none;
    border-radius: 50%;
    outline: none;
    width: 150px;
    height: 150px;
    cursor: pointer;
    font-family: trebuchet ms;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin: 1%;
    transition: width 1s, height 1s, transform 1s;
}
#kip1 {
    transition-timing-function: ease;
}
#kip2 {
    transition-timing-function: ease;
}
#kip3 {
    transition-timing-function: ease;
}
#kip4 {
    transition-timing-function: ease;
}
#kip5 {
    transition-timing-function: ease;
}
.decoration {
    text-decoration: none;
    color: white;
}
.kip {
    text-decoration: none;
    color: white;
}
.kip1 {
    text-decoration: none;
    color: white;
    background-color: #6b6860;
}
.kip2 {
    text-decoration: none;
    color: white;
    background-color: #302e28;
}
.kip3 {
    text-decoration: none;
    color: white;
    background-color: #6e6244;
}
.kip4 {
    text-decoration: none;
    color: white;
    background-color: #403928;
}
.kip5 {
    text-decoration: none;
    color: white;
    background-color: #4d4327;
}
.kip:hover {
    color: #0d0404;
    background-color: #ada287;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}